<!DOCTYPE>
<html ng-app>
<head>
<!-- Latest compiled and minified CSS -->
<link rel=
"stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<title>Contact List App</title>
</head>
<body>

	
	<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1574094876161624',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>




	<div class="container" ng-controller = "AppCtrl">
		<h1>Contact List App</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Number</th>
					<th>Action</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input class="form-control" ng-model =      "contact.name"></td>
					<td><input class="form-control" ng-model =      "contact.email"></td>
					<td><input class="form-control" ng-model =      "contact.number"></td>
					<td><button class="btn btn-primary" ng-click=   "addContact()">Add Contact</button></td>
					<td><button class="btn btn-info" ng-click=      "update()">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()">Clear</button></td>
				</tr>
				<tr ng-repeat="contact in contactlist">
					<td>{{contact.name}}</td>
					<td>{{contact.email}}</td>
					<td>{{contact.number}}</td>
					<td><button class="btn btn-danger" ng-click=    "remove(contact._id)">Remove</button></td>
					<td><button class="btn btn-warning" ng-click=   "edit(contact._id)">Edit</button></td>
				</tr>
			</tbody>
		</table>

	</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
<script src = "controllers/controller.js"></script>
</body>
</html>
